$font-stack: Helvetica, sans-serif;
$primary-color: #333;

$blue: #224FBC;
$light-blue: lighten($blue, 25%);

* {
  box-sizing: border-box;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $light-blue;
}

.form-inline {
  .form-group {
    margin: 3px;
  }
}

nav.navbar-fixed-bottom {
  background-color: $blue;

  .navbar-brand {
    color: white;
  }
}

.stage {
  display: table;
  height: 100%;
  width: 100%;

  .content-block {
    width: 100%;
    height: 100%;
    padding: 100px 0;

    nav {
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px 0;
      margin-bottom: 10px;
      background: transparent;
      border: none;

      .navbar-brand {
        padding-left: 0;
        margin-left: 0;
      }
    }

    .spacer {
      margin: 0 auto;
      padding: 0 10px;

      $content-width: 960px;
      width: $content-width;
    }
  }
}

#carousel {
  background: url('../img/seventies.jpg') black 0 0 no-repeat;
  width: 100%;
  height: 100%;
}
