doctype html
html(lang="en")
  head
    title="Legacy Code Conf"
    link(
      rel="stylesheet"
	    type="text/css"
	    href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
  body(class="background-dark")
    h1 Legacy Code Conf
