- var stylesheets = ['https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600', './css/bootstrap.min.css', './css/toolkit-startup.min.css', './css/styles.css'];
- var scripts = ['./js/jquery.min.js', './js/toolkit.min.js'];
doctype html
html(lang="en")
  head
    title="Legacy Conf 2016 - 8 October 2016 - Cambridge, UK - The world's first conference dedicated to defeating Legacy Code"
    for stylesheet in stylesheets
      link(rel="stylesheet" href=stylesheet)
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
  body
    div#stage.stage
      include ./partials/sidebar.jade

      include ./partials/carousel-block.jade
      include ./partials/about.jade
      include ./partials/sponsors.jade
      include ./partials/register.jade
    for script in scripts
      script(src=script)
