include ../mixins/block.jade

+block("7-8 October 2016", "Cambridge, UK")(id="about")
  p.
    Two days. Three tracks. Four Sessions. One open space. Explore legacy code in a depth like
    never before.
  p.
    On day 1, learn practical techniques for wrangling legacy code from the industry's leading
    experts. On day 2, put those techniques into practice in an open space.
