include ./navbar.jade
div.block-xs-middle.p-b-lg
  div.container
    div.row
      div.col-sm-10.col-md-6
        h1.block-title.m-b-sm="Legacy Code Conf"
        p.lead.m-b-md.text-muted="The world's first conference dedicated to the battle against legacy code."
        button.btn.btn-primary.btn-lg="Register your interest"
