div#carousel.block.block-inverse.block-fill-height
  include ./navbar.jade
  div.block-xs-middle.p-b-lg
    div.container
      div.row
        div.col-sm-10.col-md-6
          h1.block-title.m-b-sm="LegacyConf"
          h2.m-b-sm.
            7-8 Oct#[span.hidden-xs="ober"] 2016#[br]
            Cambridge, UK
          p.lead.m-b-md.text-muted="The world's first conference dedicated to the battle against legacy code."
          a.btn.btn-primary.btn-lg(href="#register")="Register your interest"
