nav.navbar.navbar-transparent.navbar-fixed-top.navbar-padded.app-navbar.p-t-md(role="navigation")
  div.container
    div.navbar-header
      // Hamburger button
      button.navbar-toggle.collapsed.p-x-0(type="button" data-toggle="stage" data-target="#stage" data-distance="-250")
        span.sr-only="Toggle navigation"
        span.icon-bar
        span.icon-bar
        span.icon-bar
      // Logo
      a.navbar-brand(href="")
        strong(style="background: #fff; padding: 12px; border-radius: 4px; color: #224FBC")="go"

    div.navbar-collapse.collapse.text-uppercase
      ul.nav.navbar-nav.navbar-right
        li.active
          a(href="#about")="About"
        li
          a(href="#sponsors")="Sponsors"
