include ../mixins/block.jade
include ../mixins/input.jade

+block("Get in the know", "Be the first to hear the latest news and announcements about LegacyConf", "block-fill-height")(id="register")
  form
    +input("name", "text", "Name (required)")
    +input("email", "email", "Email (required)")
    button.btn.btn-primary.btn-large(type="submit")="Join our mailing list"
