include ../mixins/input.jade

div#register.block.block-fill-height
  .container-fluid
    .row
      .col-sm-12.text-center
        h1="Get in the know"
        p="Be the first to hear the latest news and announcements about LegacyConf."
    .row
      .col-sm-8.col-sm-offset-2
        form
          +input("name", "text", "Name (required)")
          +input("email", "email", "Email (required)")
