div#sponsors.block.block-inverse
  div.container-fluid
    div.row
      div.col-sm-12
        h1="Partner with LegacyConf"
    div.row
      div.col-sm-6.col-xs-12
        h2="Sponsor us"
        p.
          Legacy Conf is only made possible with the help of our generous partners and sponsors.
          If you would like to sponsor this year's event, please contact
          <a href="mailto:alastair@legacyconf.com?subject=LegacyConf+2016+Sponsorship">Alastair</a>
          for more information.
      div.col-sm-6.col-xs-12
        h2="Community groups"
        p.
          Contact us for more information.
