mixin block(title, subtitle, blockStyle)
  .block(class=blockStyle id!=attributes.id)
    .container-fluid
      .row
        .col-sm-12.text-center
          h1.block-title=title
          if(subtitle)
            p=subtitle
      .row
        .col-sm-8.col-sm-offset-2
          block

